In [174]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [175]:
# Read the CSV files into DataFrames.
df2020 = pd.read_csv('Resources/athletic_sales_2020.csv')
df2021 = pd.read_csv('Resources/athletic_sales_2021.csv')

In [176]:
# Display the 2020 sales DataFrame
df2020.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [177]:
# Display the 2021 sales DataFrame
df2021.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [178]:
# Check the 2020 sales data types.
print(df2020.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [179]:
# Check the 2021 sales data types.
print(df2021.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [180]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([df2021, df2020])
combined_df.reset_index(inplace=True)

In [181]:
# Check if any values are null.
null_values = combined_df.isnull().any()
print(null_values[null_values == True])

Series([], dtype: bool)

In [182]:
# Check the data type of each column
print(combined_df.dtypes)

index                 int64
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [183]:
# Convert the "invoice_date" to a datetime datatype
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

/var/folders/2h/1qvcf8gj47q94pwqgb0fskk00000gn/T/ipykernel_36309/1124417652.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [184]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_df['invoice_date'].dtype)

datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [185]:
# Show the number products sold for region, state, and city (first 20 to avoid truncation).
combined_and_grouped_df = combined_df.groupby(['region', 'state', 'city']).agg({'units_sold':'sum'})
print(combined_and_grouped_df.head(20))

# Rename the sum to "Total_Products_Sold".
combined_and_grouped_df.rename(columns={"units_sold": "Total_Products_Sold"}, inplace=True)

# Sort by Total_Products_Sold, descending    
combined_and_grouped_df.sort_values(by='Total_Products_Sold', ascending=False, inplace=True)

# Show the top 5 results.
top_five_results = combined_and_grouped_df.head(5)
print(top_five_results)

                                      units_sold
region    state         city
Midwest   Illinois      Chicago            25407
          Indiana       Indianapolis       26332
          Iowa          Des Moines         23446
          Kansas        Wichita            29463
          Michigan      Detroit            50095
          Minnesota     Minneapolis        20415
          Missouri      St. Louis          36404
          Montana       Billings           42713
          Nebraska      Omaha              19154
          North Dakota  Fargo              22781
          Ohio          Columbus           47781
          South Dakota  Sioux Falls        22973
          Wisconsin     Milwaukee          23950
Northeast Connecticut   Hartford           34696
          Delaware      Wilmington         30275
          Maine         Portland           22410
          Maryland      Baltimore          20818
          Massachusetts Boston             32895
          New Hampshire Manchester         40812
          New Jersey    Newark             26540
                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

#### Using `pivot_table`

In [204]:
# Show the number products sold for region, state, and city. (first 20 to avoid truncation)
pivot_table = pd.pivot_table(combined_df, index=["region", "state", "city"],
                                        values ="units_sold", aggfunc="sum")
print(pivot_table.head(20))
# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)


# Show the top 5 results.
pivot_table.sort_values(by='Total_Products_Sold', ascending=False, inplace=True)
print(pivot_table.head(5))

                                      units_sold
region    state         city
Midwest   Illinois      Chicago            25407
          Indiana       Indianapolis       26332
          Iowa          Des Moines         23446
          Kansas        Wichita            29463
          Michigan      Detroit            50095
          Minnesota     Minneapolis        20415
          Missouri      St. Louis          36404
          Montana       Billings           42713
          Nebraska      Omaha              19154
          North Dakota  Fargo              22781
          Ohio          Columbus           47781
          South Dakota  Sioux Falls        22973
          Wisconsin     Milwaukee          23950
Northeast Connecticut   Hartford           34696
          Delaware      Wilmington         30275
          Maine         Portland           22410
          Maryland      Baltimore          20818
          Massachusetts Boston             32895
          New Hampshire Manchester         40812
          New Jersey    Newark             26540
                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [206]:
# Show the total sales for the products sold for each region, state, and city (first 20 to avoid truncation).
total_sales_df = combined_df.groupby(['region', 'state', 'city']).agg({'total_sales':'sum'})
print(total_sales_df.head(20))

# Rename the "total_sales" column to "Total Sales"
total_sales_df.rename(columns={"total_sales": "Total_Sales"}, inplace=True)

# Sort by Total_Products_Sold, descending    
total_sales_df.sort_values(by='Total_Sales', ascending=False, inplace=True)

# Show the top 5 results.
print(total_sales_df.head(5))

                                      total_sales
region    state         city
Midwest   Illinois      Chicago           9797488
          Indiana       Indianapolis      8836198
          Iowa          Des Moines        7424011
          Kansas        Wichita           9972864
          Michigan      Detroit          18625433
          Minnesota     Minneapolis       7227506
          Missouri      St. Louis         9683265
          Montana       Billings         15710886
          Nebraska      Omaha             5929038
          North Dakota  Fargo             7735580
          Ohio          Columbus         18484583
          South Dakota  Sioux Falls       8495576
          Wisconsin     Milwaukee         7727469
Northeast Connecticut   Hartford         11573448
          Delaware      Wilmington       12298412
          Maine         Portland          9195978
          Maryland      Baltimore         7758059
          Massachusetts Boston           11076810
          New Hampshire Manchester       16411667
          New Jersey    Newark            9934246
                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

#### Using `pivot_table`

In [203]:
# Show the total sales for the products sold for each region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = pd.pivot_table(combined_df, index=["region", "state", "city"], 
                             values ="total_sales", aggfunc="sum")
print(pivot_table.head(20))
pivot_table.rename(columns={'total_sales': 'Total_Sales'}, inplace=True)

# Show the top 5 results.
pivot_table.sort_values(by='Total_Sales', ascending=False, inplace=True)
print(pivot_table.head(5))

                                      total_sales
region    state         city
Midwest   Illinois      Chicago           9797488
          Indiana       Indianapolis      8836198
          Iowa          Des Moines        7424011
          Kansas        Wichita           9972864
          Michigan      Detroit          18625433
          Minnesota     Minneapolis       7227506
          Missouri      St. Louis         9683265
          Montana       Billings         15710886
          Nebraska      Omaha             5929038
          North Dakota  Fargo             7735580
          Ohio          Columbus         18484583
          South Dakota  Sioux Falls       8495576
          Wisconsin     Milwaukee         7727469
Northeast Connecticut   Hartford         11573448
          Delaware      Wilmington       12298412
          Maine         Portland          9195978
          Maryland      Baltimore         7758059
          Massachusetts Boston           11076810
          New Hampshire Manchester       16411667
          New Jersey    Newark            9934246
                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [212]:
# Show the total sales for the products sold for each retailer, region, state, and city.
total_sales_df = combined_df.groupby(['retailer', 'region', 'state', 'city']).agg({'total_sales':'sum'})
print(total_sales_df.head(20))

# Rename the "total_sales" column to "Total Sales"
total_sales_df.rename(columns={'total_sales': 'Total_Sales'}, inplace=True)

# Sort by Total_Sales, descending    
total_sales_df.sort_values(by='Total_Sales', ascending=False, inplace=True)

# Show the top 5 results.
print(total_sales_df.head(5))

                                                  total_sales
retailer    region    state          city
Amazon      Midwest   Ohio           Columbus        16835873
            Northeast Maine          Portland         8611395
                      Massachusetts  Boston           4193590
                      New Hampshire  Manchester      10077142
                      Vermont        Burlington      13380463
            South     Alabama        Birmingham        409091
            Southeast Kentucky       Louisville       7092657
                      North Carolina Charlotte        3733676
            West      Alaska         Anchorage       13365025
Foot Locker Midwest   Illinois       Chicago          9075036
                      Iowa           Des Moines       4796935
                      Kansas         Wichita          3520950
                      Michigan       Detroit          2490330
                      Minnesota      Minneapolis      6619565
                      Missouri       St. Louis        7982132
                      Nebraska       Omaha            5264829
                      North Dakota   Fargo            2548462
                      South Dakota   Sioux Falls      5689155
            Northeast Connecticut    Hartford         3630798
                      Delaware       Wilmington       8387568
                                                    Total_Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

#### Using `pivot_table`

In [213]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = pd.pivot_table(combined_df, index=["retailer", "region", "state", "city"], 
                             values ="total_sales", aggfunc="sum")
print(pivot_table.head(20))
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
pivot_table.sort_values(by='Total Sales', ascending=False, inplace=True)
print(pivot_table.head(5))

                                                  total_sales
retailer    region    state          city
Amazon      Midwest   Ohio           Columbus        16835873
            Northeast Maine          Portland         8611395
                      Massachusetts  Boston           4193590
                      New Hampshire  Manchester      10077142
                      Vermont        Burlington      13380463
            South     Alabama        Birmingham        409091
            Southeast Kentucky       Louisville       7092657
                      North Carolina Charlotte        3733676
            West      Alaska         Anchorage       13365025
Foot Locker Midwest   Illinois       Chicago          9075036
                      Iowa           Des Moines       4796935
                      Kansas         Wichita          3520950
                      Michigan       Detroit          2490330
                      Minnesota      Minneapolis      6619565
                      Missouri       St. Louis        7982132
                      Nebraska       Omaha            5264829
                      North Dakota   Fargo            2548462
                      South Dakota   Sioux Falls      5689155
            Northeast Connecticut    Hartford         3630798
                      Delaware       Wilmington       8387568
                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [233]:
# Filter the sales data to get the women's athletic footwear sales data.
filtered_df = combined_df[combined_df['product'].str.contains('Women\'s Athletic Footwear')]

#### Using `groupby`

In [238]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
grouped_by_retailer_df = filtered_df.groupby(['retailer', 'region', 'state', 'city']).agg({'units_sold':'sum'})
print(grouped_by_retailer_df.head(20))

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
grouped_by_retailer_df.sort_values(by='units_sold', ascending=False, inplace=True)                                              
grouped_by_retailer_df.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
print(grouped_by_retailer_df.head(5))

                                                  units_sold
retailer    region    state          city
Amazon      Midwest   Ohio           Columbus           5801
            Northeast Maine          Portland           1841
                      Massachusetts  Boston             1190
                      New Hampshire  Manchester         3109
                      Vermont        Burlington         4327
            South     Alabama        Birmingham          158
            Southeast Kentucky       Louisville         1889
                      North Carolina Charlotte          1419
            West      Alaska         Anchorage          2810
Foot Locker Midwest   Illinois       Chicago            2064
                      Iowa           Des Moines         1552
                      Kansas         Wichita             909
                      Michigan       Detroit            1040
                      Minnesota      Minneapolis        1536
                      Missouri       St. Louis          3504
                      Nebraska       Omaha              1148
                      North Dakota   Fargo               602
                      South Dakota   Sioux Falls        1495
            Northeast Connecticut    Hartford           1040
                      Delaware       Wilmington         2417
                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

#### Using `pivot_table`

In [20]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [21]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

In [22]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in ascending order on "Total Sales".

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [23]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in ascending order on "Total Sales".